h1 {
    color: teal;
    font-size:40PX;
}

h2 {
    color: slategray;
    font-size: 30px;
}

p {
    display: flex;
    justify-content: center;
    color: slategray;
    font-size: 20px;
      
}

div{
    display: flex;
    flex-direction: column;
    justify-content:justify;
    text-align: justify;
    height: auto;
    width: auto;

    }

ul li{
    /* display: flex;  */
    justify-content:stretch;
    /* padding-bottom: 6px; */
    padding-inline-end: 4px;
    font-size: 18px;
     color: slategray;

}

#fotoPerfil {
    
    margin:auto;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 300px;
    width: 200px;


}
#educacion {
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: justify;
    /* height: auto; */
    /* width: 600px; */
    /* font-size: 18px; */
    color: slategray;
    }

.Container{
    margin: auto;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: auto;
    width: 600px;
}