/* ESTILO */

h1 {
    color:  forestgreen;
    font-size: 50px;
  }
  span {
    color: green;
  }
  img {width:400px ;

  }
  #spanID{color:blue;
  font-size: 18px;
  margin: 50px;

  }
  #thirDiv{
      height: 600px;
      width: 500px;
      background-color: red;
      padding: 50px solid green;
      border: 1rem solid forestgreen;


  }
